<!-- views/characters/partials/details-tabs.ejs -->
<div class="character-tabs mb-4">
  <div class="character-tab-links">
    <a href="#tab-personality" class="character-tab-link active">Personality</a>
    <a href="#tab-appearance" class="character-tab-link">Appearance</a>
    <a href="#tab-background" class="character-tab-link">Background</a>
    <a href="#tab-details" class="character-tab-link">Additional Details</a>
  </div>
  
  <div class="character-tab-content">
    <!-- Personality Tab -->
    <div id="tab-personality" class="character-tab-pane active">
      <%- include('./tab-personality', { character }) %>
    </div>
    
    <!-- Appearance Tab -->
    <div id="tab-appearance" class="character-tab-pane">
      <%- include('./tab-appearance', { character }) %>
    </div>
    
    <!-- Background Tab -->
    <div id="tab-background" class="character-tab-pane">
      <%- include('./tab-background', { character }) %>
    </div>
    
    <!-- Additional Details Tab -->
    <div id="tab-details" class="character-tab-pane">
      <%- include('./tab-details', { character }) %>
    </div>
  </div>
</div>