<!-- views/characters/partials/tab-appearance.ejs -->
<div class="form-group">
  <label for="appearance">Physical Appearance</label>
  <textarea 
    id="appearance" 
    name="appearance" 
    class="form-control" 
    rows="12"
  ><%= character.appearance || '' %></textarea>
</div>