<!-- views/characters/partials/tab-background.ejs -->
<div class="form-group">
  <label for="background">Character Background</label>
  <textarea 
    id="background" 
    name="background" 
    class="form-control" 
    rows="12"
  ><%= character.background || '' %></textarea>
</div>